@font-face {
    font-family: "Anjoman";
    src: url("../fonts/anjoman/AnjomanMaxVF.woff2") format("woff2");
    font-weight: 400 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Anjoman";
    src: url("../fonts/anjoman/AnjomanMaxLightVF.woff2") format("woff2");
    font-weight: 100 399;
    font-style: normal;
    font-display: swap;
}